html {
    font-size: 16px;
}


body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}


.container {
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}


h1, h2, h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;

}


h1 {
	font-size: 1.875em;;
}


h2 {
	font-size: 1.125em;
}


h3 {
	font-size: .75em;
}


p {
    font-size: .875em;
    line-height: 21px;
}

ul {
	margin: 0;
}

/*The widths are in a percentage!*/
header {

	border-bottom: 3px solid #77a466;
    text-align: center;
    width: 100%
    display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}


header h1 {
	margin: 0;
	padding: 20px 20px 20px 20px;
	border-bottom: 3px; solid #77a466;
	width: 100%;
}


header h1 span {
	color: #77a466;
}


header nav {
	padding: 10px 0 10px 0;
	width: 100%;
	line-height: 2em;
}


header nav ul {
	margin: 0;
	padding: 0;
}


header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
    display: flex;
    justify-content: center;
    align-items: center;
}


header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section, .bottom-section {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}


.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}


.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625em;
}


.section-one, .section-two, .section-three {
	border-top: 1px solid #eee;
    width: 100%;
}


.menu {
	list-style: none;
	padding: 0;
}


.menu li {
	padding: 10px 0;
	color:#77a466;
}


.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}


.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}


footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}

@media all and (min-width:768px) {
    /* Desktop styles here */
    .bottom-section {
    	justify-content:center
    	align-items: flex-flow;
    	border-top: 1px solid #eee;
    }

    .section-one, .section-two, .section-three {
    	border-top: none;
    	flex-basis: 30%;
    }

    .section-two {
    	border-left: 1px solid #eee;
    	border-right: 1px solid #eee;
    	padding: 0 20px;
    }

}

@media all and (min-width:1200px) {
    /* Desktop styles here */
    header {
    	justify-content: space-between;
    }

    header h1 {
    	width: 30%
    	padding: 0;
    	border-bottom: none;
    	text-align: left;
    }

    header nav {
    	width: 40%;
    }

    header nav ul {
    	display: flex;
    	justify-content: space-between;
    }
